@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.primary-width {
  max-width: 1452px;
  margin: auto;
}
.display-flex {
  display: flex;
}
.text-gray {
  /* dark 02 */
  color: #424242;
}
.text-light-gray {
  /* dark 03 */
  color: #727272;
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}
.color-orange {
  background-color: #ff900e;
}
.color-orange-font {
  color: #ff900e;
}
.btn-primary {
  width: 180px;
  height: 64px;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  font-weight: 600;
}
/* header styles */
header {
  padding-top: 50px;
}
/* navbar styles */
.navbar {
  justify-content: space-between;
}
.brand-logo {
  font-size: 45px;
  font-weight: bold;
  color: #131313;
}
.nav-links {
  align-items: center;
}
.nav-item {
  list-style: none;
  margin-right: 20px;
}
.nav-link {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
}

/* banner related styles */

.banner-content {
  max-width: 861px;
  text-align: center;
  margin: auto;
  padding-top: 102px;
}
.banner-title {
  font-size: 64px;
  font-weight: bold;
  color: #131313;
  padding-bottom: 32px;
}
.banner img {
  padding-top: 50px;
  padding-bottom: 45px;
  width: 100%;
}
.banner-content p {
  padding-bottom: 32px;
}

/* teams and feature related style */
main {
  max-width: 1318px;
  margin: auto;
  padding-top: 85px;
}
.teams {
  gap: 73px;
  align-items: center;
  justify-content: center;
}
.team-img-container {
  max-width: 708px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.team-img-container img {
  width: 100%;
}
.feature-title {
  font-size: 45px;
  margin-bottom: 24px;
}
.quick-list {
  font-weight: 500;
}
.feature-description {
  margin-bottom: 32px;
}
.our-features {
  max-width: 537px;
}

.some-facts h3 {
  font-size: 45px;
  font-weight: bold;
  padding-top: 130px;
  padding-bottom: 15px;
}
.some-facts p {
  max-width: 542px;
}
.fact-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding-top: 100px;
}
.fact {
  border: 1px solid #ff900e;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.fact-number {
  font-size: 45px;
  font-weight: 600;
}

.sponsors {
  padding-top: 180px;
}
.sponsor-title {
  text-align: center;
  margin: auto;
}
.sponsor-title h3 {
  font-size: 45px;
  font-weight: bold;
}
.sponsor-title p {
  padding-top: 20px;
  max-width: 542px;
  margin: auto;
}
.sponsors-image-section {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 155px;
  /* justify-items: center; */
}
.sponsor-image {
  width: 100%;
  filter: grayscale(100%);
}
.described-features-advertising {
  padding-top: 130px;
  justify-content: space-between;
}
.described-features {
  max-width: 586px;
  padding-top: 40px;
}
.described-features p {
  color: #727272;
  margin-bottom: 30px;
  margin-top: 30px;
}
.described-features-intro h3 {
  font-size: 45px;
  font-weight: bold;
  padding-left: 21px;
  border-left: 5px solid #ff900e;
}

.described-features-points h3 {
  font-size: 20px;
  font-weight: 600;
}
.points {
  padding: 30px;
  box-shadow: 0 4px 30px 0 #00000025;
  border-radius: 8px;
  margin-bottom: 20px;
}
.exp-btn {
  width: 100%;
}
.advertising-photo button {
  padding: 45px 40px;
  border: none;
  border-radius: 8px;
  margin-left: -100px;
  margin-top: -100px;
  color: white;
}
.btn-span1 {
  font-size: 65px;
  font-weight: 700;
}
.btn-span2 {
  font-size: 25px;
  font-weight: 500;
}
footer {
  background-color: #fff4e7;
  max-width: 1452px;
  text-align: center;
  margin: 130px auto 215px auto;
}
footer p {
  padding: 40px 0px;
}

/* responsive section */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links {
    flex-direction: column;
    align-items: center;
  }
  .nav-links {
    width: 100%;
  }
  .teams {
    flex-direction: column-reverse;
  }
  .team-img-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .our-features {
    margin: auto;
  }
  .fact-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .facts-title {
    text-align: center;
    padding: 10px;
  }
  .sponsors-image-section {
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
  }
  .sponsor-logos {
    text-align: center;
  }
  .sponsor-image {
    width: 50%;
    justify-items: center;
  }
  .described-features-advertising {
    flex-direction: column;
  }
  .advertising-photo img {
    width: 100%;
  }
  .advertising-photo button {
    margin-top: 20px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .brand-logo {
    font-size: 30px;
  }
  main {
    width: 100%;
  }
  .teams {
    flex-direction: column;
  }
  .team-img-container,
  .our-features {
    width: 100%;
  }
  .fact-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .sponsors-image-section {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 20px;
  }
  .described-features-advertising {
    flex-direction: column;
  }
  .advertising-photo img {
    width: 100%;
  }
  .advertising-photo button {
    margin-top: 20px;
    margin-left: 20px;
  }
}
