@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.primary-width {
  max-width: 1452px;
  margin: auto;
}
.display-flex {
  display: flex;
}
.text-gray {
  /* dark 02 */
  color: #424242;
}
.text-light-gray {
  /* dark 03 */
  color: #727272;
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}
.color-orange {
  background-color: #ff900e;
}
.color-orange-font {
  color: #ff900e;
}
.btn-primary {
  width: 180px;
  height: 64px;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  font-weight: 600;
}
/* header styles */
header {
  padding-top: 50px;
}
/* navbar styles */
.navbar {
  justify-content: space-between;
}
.brand-logo {
  font-size: 45px;
  font-weight: bold;
  color: #131313;
}
.nav-links {
  align-items: center;
}
.nav-item {
  list-style: none;
  margin-right: 20px;
}
.nav-link {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
}

/* banner related styles */

.banner-content {
  max-width: 861px;
  text-align: center;
  margin: auto;
  padding-top: 102px;
}
.banner-title {
  font-size: 64px;
  font-weight: bold;
  color: #131313;
  padding-bottom: 32px;
}
.banner img {
  padding-top: 50px;
  padding-bottom: 45px;
  width: 100%;
}
.banner-content p {
  padding-bottom: 32px;
}

/* teams and feature related style */
main {
  max-width: 1318px;
  margin: auto;
  padding-top: 85px;
}
.teams {
  gap: 73px;
  align-items: center;
  justify-content: center;
}
.team-img-container {
  max-width: 708px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.team-img-container img {
  width: 100%;
}
.feature-title {
  font-size: 45px;
  margin-bottom: 24px;
}
.quick-list {
  font-weight: 500;
}
.feature-description {
  margin-bottom: 32px;
}
.our-features {
  max-width: 537px;
}

/* responsive section */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links {
    flex-direction: column;
    align-items: center;
  }
  .nav-links {
    width: 100%;
  }
  .teams {
    flex-direction: column-reverse;
  }
  .team-img-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .our-features {
    margin: auto;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .brand-logo {
    font-size: 30px;
  }
  main {
    width: 100%;
  }
  .teams {
    flex-direction: column;
  }
  .team-img-container,
  .our-features {
    width: 100%;
  }
}
