@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.primary-width {
  width: 75%;
  max-width: 1452px;
  margin: auto;
}
.display-flex {
  display: flex;
}
.text-gray {
  /* dark 02 */
  color: #424242;
}
.text-light-gray {
  /* dark 03 */
  color: #727272;
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}
.color-orange {
  background-color: #ff900e;
}
.btn-primary {
  width: 180px;
  height: 64px;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  font-weight: 600;
}
/* header styles */
header {
  padding-top: 50px;
}
/* navbar styles */
.navbar {
  justify-content: space-between;
}
.brand-logo {
  max-width: 302px;
  font-size: 2.8rem;
  font-weight: bold;
  color: #131313;
}
.nav-links {
  align-items: center;
  width: 477px;
  justify-content: space-around;
}
.nav-item {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
}

/* banner related styles */

.banner-content {
  max-width: 861px;
  text-align: center;
  margin: auto;
  padding-top: 102px;
}
.banner-title {
  font-size: 64px;
  font-weight: bold;
  color: #131313;
  padding-bottom: 32px;
}
.banner img {
  padding-top: 50px;
  width: 100%;
}
.banner-content p {
  padding-bottom: 32px;
}

/* responsive section */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .nav-links {
    width: 100%;
  }
}
